<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%- include('../bootstrap.ejs') %>

    <title>Danh sách sản phẩm</title>
  </head>
  <body>
    <div class="side">
      <%- include('./sideleft.ejs') %>

      <div class="side-right">
        <h1 class="heading_management">Danh sách sản phẩm</h1>

        <table>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Mô tả</th>
            <th>Loại sản phẩm</th>
            <th>Ảnh</th>
            <th>Chỉnh sửa</th>
          </tr>
          <tr>
            <% data.forEach(el => { %>
            <td><%= el.title %></td>
            <td><%= el.amount %></td>
            <td><%= el.description %></td>
            <td><%= el.product_type %></td>
            <td><%= el.image %></td>
            <td>
              <button class="edit">
                <a href="/admin/pages/edit?id=<%= el._id %>">Edit</a>
              </button>
              <button class="delete">
                <a href="/admin/pages/delete?id=<%= el._id %>">Delete</a>
              </button>
            </td>
          </tr>
          <% })%>
        </table>
      </div>
    </div>
  </body>
</html>
